<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/dashboard.css">

    <!-- All font stylesheets -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">

    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/dashboard.js"></script>
    
</head>
<body>
  <!-- Sidebar Starts -->
  <div class="sidenav">
      <h1 class="pms"><i class="fa fa-plus w3-xlarge"></i> PMS</h1>
      <a class="navlink1" href="http://localhost:3000/"><i class="fa fa-dashboard w3-xlarge" style="color:black;"></i>&nbsp Dashboard</a>
      <div class="w3-dropdown-hover">
        <a class="navlink2"><i class="fa fa-plus-square w3-xlarge" style="color:#E43A3A;"></i>&nbsp Medicine</a>
        <div class="w3-dropdown-content w3-bar-block">
          <a href="http://localhost:3000/add/medicine" class="w3-bar-item w3-button">Add medicine</a>
          <a href="http://localhost:3000/manage/medicine" class="w3-bar-item w3-button">Manage medicines</a>
          <a href="http://localhost:3000/less/stock" class="w3-bar-item w3-button">Less in stock</a>
        </div>
      </div>
      <div class="w3-dropdown-hover">
        <a class="navlink7"><i class="fa fa-handshake-o w3-xlarge" style="color:#FF6D0E;"></i>&nbsp Company</a>
        <div class="w3-dropdown-content w3-bar-block">
          <a href="http://localhost:3000/add/company" class="w3-bar-item w3-button">Add company</a>
          <a href="http://localhost:3000/manage/company" class="w3-bar-item w3-button">Manage company</a>
        </div>
      </div>

      <a class="navlink3" href="http://localhost:3000/customers"><i class="fa fa-users w3-xlarge" style="color:#3AB2E4;"></i>&nbsp Customers</a>

      <a class="navlink4" href="http://localhost:3000/cart"><i class="fa fa-shopping-cart w3-xlarge" style="color:black;"></i>&nbsp Cart</a>
      <a class="navlink5" href="http://localhost:3000/salesreport/period"><i class="fa fa-bar-chart w3-xlarge" style="color:#239B56;"></i>&nbsp Sales Report</a>
      <a class="navlink6" href="http://localhost:3000/invoice/search"><i class="fa fa-search w3-xlarge" style="color:#1B18AD;"></i>&nbsp Invoice Search</a>
    </div>
    <!-- Sidebar ENDS -->

    <!-- Coloured Region STARTS -->
    <div class="main">
    <div class="top">
       <h2 class="dash">DASHBOARD</h2>
       <div class="logout">
        <button class="lbtn" onclick="return logout();"><i class="fa fa-sign-out"></i>Logout</button>
      </div>
    </div>
    <!-- Coloured Region ENDS -->

    <!-- Main body of page starts (Sale growth) -->
    <div class="middle">
        <div class="sale1">
          <div class="t1">TODAYS SALE</div>
          <div class="rs1">Rs. <input type="text" class="data" value="<%=result1[0].todays_sale%>" readonly><i class="fa fa-shopping-bag" style="padding-left:3.75vw;font-size:3vh;color:#03AC13; position: fixed;"></i></div>
        </div>
        
        <div class="sale2">
          <div class="t2">YESTERDAYS SALE</div>
          <div class="rs2">Rs. <input type="text" class="data" value="<%=result2[0].yesterdays_sale%>" readonly><i class="fa fa-history" style="padding-left:3.75vw;font-size:3.3vh;color:#FFC300;position: absolute; "></i></div> 

        </div>
        
        <div class="sale3">
          <div class="t3">THIS MONTHS SALE</div>
          <div class="rs3">Rs. <input type="text" class="data" value="<%=result3[0].months_sale%>" readonly><i class="fa fa-calendar-check-o" style="padding-left:3.75vw;font-size:3vh;color:#FF5733;position: absolute;" ></i></div>
        </div>
    </div>

    <div class="end">
        <div class="tsale">
          <div class="t4">TOTAL SALE </div>
          <div class="rs4">Rs. <input type="text" class="data" value="<%=results[0].total_sale%>" readonly><i class="fa fa-star" style="padding-left:58.75vw;font-size:3vh;color:#FF0303;position: absolute;"></i></div>
        </div>
    </div>
    <!-- Main body ENDS -->

    <!-- FOOTER STARTS -->
      <div class="copyright">&copy 2020 PMS <span class="t5">PHARMACY MANAGEMENT SYSTEM</span></div>
    <!-- FOOTER ENDS -->
    </div>

 
</body>


</html>