<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="/css/login.css">

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Karla:wght@700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Alegreya' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Alegreya SC' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Rubik' rel='stylesheet'>

  <script src="https://kit.fontawesome.com/a81368914c.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login</title>
</head>

<body>
  <div class="box">
    <div class="im">
      <div class="g"></div>
      <!-- <img class="g" style="height: 100%;width: 100%;" src="image/bg.jpeg" /> -->
      <div class="text-block">
        <h2 class="first">PHARMACY MANAGEMENT SYSTEM</h2>&nbsp
        <p class="second">Welcome to our Pharmacy</p>
        <p class="third">Where good health begins</p>
      </div>
    </div>
    <div class="right">
      <div class="login-content">
        <form>
          <img src="/images/profile.svg">
          <h2 class="title">Welcome</h2>
          <div class="input-div one">
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            <div class="div">
              <h5>Username</h5>
              <input type="text" class="input" id="username" autocomplete="off">
            </div>
          </div>
          <div class="input-div pass">
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            <div class="div">
              <h5>Password</h5>
              <input type="password" class="input" id="password">
            </div>
          </div>
          <button class="btn" onclick="return login();">Login</button>
          <p>Don't have an account? <a href="/signup" class="signup">Sign Up</a></p>
        </form>
      </div>
    </div>
  </div>
  <script src="/js/login.js"></script>
</body>

</html>