/* CODE COMMON FOR ALL PAGES STARTS HERE*************************/

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #F9F9F9;
}

/*CSS for Sidenav*/

.sidenav {
  height: 100vh;
  width: 15vw;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  background-color: white;
  overflow-x: hidden;
  padding-top: 4vh;
}

.sidenav a {
  padding: 2vh 2vw 2vh 2vw;
  text-decoration: none;
  font-size: 16px;
  color: #5F5F5F;
  display: block;
  font-family: 'Karla', sans-serif;
  border-left: 5px solid transparent;
}

.sidenav a:hover {
  color: #BDC3C7;
  border-left-color: #00D6CA;
}

.pms {
  color: red;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 10vh;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}

.w3-bar-block {
  margin-left: 2vw;
}

.dash {
  display: inline-block;
  padding-left: 1vw;
  padding-top: 1vh;
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.lbtn {
  background: none;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 2.7vh;
  border: none;
  cursor: pointer;
  color: white;
}

.lbtn:focus{
  outline: none;
}

.lbtn:hover{
  color: black;
}

.logout {
  position: fixed;
  display: inline-block;
  padding-left: 69.5vw;
}

/*CSS for sidenav ENDS*/

/*Coloured Region*/

.top {
  padding: 2vh 0vw 0vh 2vw;
}

.main {
  margin-left: 15vw;
  height: 33vh;
  background-image: linear-gradient( to bottom right, #0C8C9F 30%, #00D6CA 100%);
}

/*Coloured Region Ends*/

/*Footer Starts*/

.copyright {
  margin-top: 3vh;
  margin-left: 18vw;
  font-size: 1.0rem;
  color: #5F5F5F;
}

.t5 {
  position: fixed;
  margin-left: 59.5vw;
  font-size: 16px;
  display: inline;
  color: #5F5F5F;
}

/*Footer ENDS*/

/*CSS for Sale Starts*/

.middle {
  margin-top: 4vh;
}

.heading1 {
    font-size: 3.5vh;
    display: flex;
    color:white;
    justify-content: center;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  }

.sbar {
  margin-top: 3.75vh;
  display: flex;
  position: relative;
  justify-content: center;
}

.sbar input {
    height: 6vh;
    width: 35vw;
    border-radius: 30px;
    border: none;
    outline: none;
    padding-left: 2.85vw;
    border: white;
    outline:none;
    background:white;
    border:1.7px solid white;
    font-size: 2vh;
  }

.sbar i{
    position:absolute;
    right:25.7vw;
    top:1.5vh;
    font-size:3.0vh;
    visibility: hidden;
}

.sbar.error i
{
	color: #B0BABA;
	visibility: visible;
}

.i1 {
    margin-left: -31.5vw;
    margin-top: 1.5vh;
    position: absolute;
    border: none;
    color:#A6B0B4;
    z-index: 1;
    background:none;
  }

  .i1:focus{
    outline: none;
  }

::placeholder{
     color:#667176;
     font-family: Helvetica,'Arial', sans-serif;
     font-size: 2.2vh;
}

.mdetails {
  width: 75vw;
  margin-left: 20vw;
  margin-top: 5vh;
  overflow: auto;
}

#medicines {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 74.5vw;
}

#medicines td, #medicines th {
  border: 1px solid #ddd;
  padding: 8px;
}

#medicines tr:nth-child(even) {
  background-color: #f2f2f2;
}

#medicines tr:hover {
  background-color: #ddd;
}

#medicines th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#0C8C9F;
  opacity:0.75;
  color: white;
}

.delete{
  color: #D51111;
  border-radius: 4px;
  border-color: transparent;
  background-color: transparent;
}
.delete:hover{
  transform: scale(1.3);
}
.delete:focus {
  outline: none;
  transform: scale(1.3);
  color:black;
}

.gt{
  text-align: center !important;
  background-image: none !important;
  color: black !important;
  background-color: transparent !important;
}

table {
  counter-reset: section;
}

.count:before {
  counter-increment: section;
  content: counter(section);
}

@media(max-height:790px){
  .i1{
    margin-top: 1vh;
  }
}


/*COMMON CODE ENDS HERE******************************************/