body {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    background-color: #F9F9F9;
}

/*CSS for Sidenav*/

.sidenav {
    height: 100vh;
    width: 15vw;
    top: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background-color: white;
    overflow-x: hidden;
    padding-top: 4vh;
}

.sidenav a {
    padding: 2vh 2vw 2vh 2vw;
    text-decoration: none;
    font-size: 16px;
    color: #5F5F5F;
    display: block;
    font-family: 'Karla', sans-serif;
    border-left: 5px solid transparent;
}

.sidenav a:hover {
    color: #BDC3C7;
    border-left-color: #00D6CA;
}

.pms {
    color: red;
    text-align: center;
    padding-top: 0.5vh;
    padding-bottom: 10vh;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
}

.w3-bar-block {
    margin-left: 2vw;
}

.dash {
    display: inline-block;
    padding-left: 1vw;
    padding-top: 1vh;
    color: white;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.lbtn {
    background: none;
    padding: 1vh 1vw 1vh 1vw;
    font-size: 2.7vh;
    border: none;
    cursor: pointer;
    color: white;
  }
  
  .lbtn:focus{
    outline: none;
  }
  
  .lbtn:hover{
    color: black;
  }
  
  .logout {
    position: fixed;
    display: inline-block;
    padding-left: 65.375vw;
  }
/*CSS for sidenav ENDS*/

/*Coloured Region*/

.top {
    padding: 2vh 0vw 0vh 2vw;
}

.main {
    margin-left: 15vw;
    height: 33vh;
    background-image: linear-gradient( to bottom right, #0C8C9F 30%, #00D6CA 100%);
}

/*Coloured Region Ends*/

/*Footer Starts*/

.copyright {
    margin-top: 6.5vh;
    margin-left: 18vw;
    font-size: 1.0rem;
    color: #5F5F5F;
}

.t5 {
    position: fixed;
    margin-left: 59.5vw;
    font-size: 16px;
    display: inline;
    color: #5F5F5F;
}

/*Footer ENDS*/

/*CSS for Sale Starts*/

.middle {
    margin-top: 4vh;
}

/* .heading1 {
    font-size: 3.5vh;
    display: flex;
    justify-content: center;
} */

.heading1 {
    font-size: 3.5vh;
    display: flex;
    color: white;
    justify-content: center;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}


/* .msearch {
    height: 6vh !important;
    width: 35vw !important;
    border-radius: 30px !important;
    border: none;
    outline: none;
    padding-left: 2.85vw !important;
    font-size: 2vh !important;
} */

.i1 {
    margin-left: -31.5vw;
    margin-top: 1.5vh;
    position: absolute;
    border: none;
    color: #A6B0B4;
    z-index: 1;
    background:none;
}

.i1:focus {
    outline: none;
}

::placeholder {
    color: #667176;
    font-family: Helvetica, 'Arial', sans-serif;
    font-size: 1.9vh;
}
.msearch::placeholder{
    font-size: 2.2vh !important;
}

.sbar {
    margin-top: 3.75vh;
    display: flex;
    position: relative;
    justify-content: center;
  }
  
  .sbar input {
      height: 6vh;
      width: 35vw;
      border-radius: 30px;
      border: none;
      outline: none;
      padding-left: 2.85vw;
      border: white;
      outline:none;
      background:white;
      border:1.7px solid white;
      font-size: 2vh;
    }
  
  .sbar i{
      position:absolute;
      right:25.7vw;
      top:1.5vh;
      font-size:3.0vh;
      visibility: hidden;
  }
  
  .sbar.error i
  {
      color: #B0BABA;
      visibility: visible;
  }
  
.gt {
    text-align: center !important;
    background-image: none !important;
    color: black !important;
}

.error1 {
    padding-left: 50vw;
    padding-top: 1.65vh;
    font-size: 1.95vh;
    color: red;
}

.acustomer {
    height: 48vh;
    width: 40vw;
    margin-left: 37vw;
    margin-top: 3vh;
    background-color: white;
    border-radius: 7.5px;
}

.heading2 {
    padding: 1.25vh 0vw 0vh 0vw;
    font-size: 2vh;
    text-align: center;
    /* background-image: linear-gradient( to bottom right, #0C8C9F 30%, #00D6CA 100%); */
}

.cdetails {
    background-color: #EEEEEE;
    height: 43vh;
    margin-top: 1vh;
    padding: 2vh 0vw 0vh 0vw;
    font-size: 1.85vh;
    border-bottom-right-radius: 7.5px;
    border-bottom-left-radius: 7.5px;
}

.space {
    padding-top: 2vh;
}

.abutton {
    margin-top: 2.25vh;
}

.w {
    width: 18.5vw;
    height: 3.5vh;
    border-radius: 7.5px;
    padding-left: 0.5vw;
    outline: none;
    border-color: transparent;
    box-shadow: 5px 5px 10px #BDC3C7;
    margin-top: 1vh;
    color: #667176;
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 1.8vh;
}

.form-control{
    background-color: transparent;
    outline:none;
    border-color: transparent;
    display: inline-block;
    position: relative;
    padding-left:6vw;
}

.form-control span{
    position:absolute;
    right:5vw;
    top:1.9vh;
    font-size:2.6vh;
    visibility: hidden;
}
.form-control i{
    position:absolute;
    right:5vw;
    top:1.9vh;
    font-size:2.6vh;
    visibility: hidden;
}

#contact{
    visibility: visible !important;
    color: #2ecc71 !important;
}

.form-control.normal #contact
{
    visibility: hidden !important;
    color:red;
}

.form-control.error #contact
{
    visibility: hidden !important;
}

.form-control.success span
{
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i
{
	color: #e74c3c;
	visibility: visible;
}
.form-control label{
    font-size:1.9vh;
}

.required {
    color: red !important;
    display: inline-block;
}

#cname {
    margin-left: 1.9vw;
    outline: none;
    border-radius: 5px;
}

#ccontact {
    margin-left: 0.925vw;
    outline: none;
    border-radius: 5px;
}

#cemail {
    margin-left: 2.45vw;
    outline: none;
    border-radius: 5px;
}

#caddress {
    margin-left: 1.35vw;
    outline: none;
    border-radius: 5px;
}

#prescribedby {
    margin-left: 3vw;
    outline: none;
    border-radius: 5px;
}

.modeofpayment {
    margin-left: 1.4vw;
    display: inline;
}

.cgender {
    margin-left: 1.3275vw;
    display: inline;
}

.gender {
    margin-top: 1vh;
}

.abutton {
    /*margin-left: 11vw;
    color: white;
    background-color: royalblue;
    border-color: royalblue;
    border-radius: 4px;*/
    margin-left: 18.25vw;
    padding: 0.25vh 1vw 0.25vh 1vw;
    border-radius: 5px;
    background-color: #0C8C9F;
    color: white;
    outline: none;
    opacity: 0.9;
    border-color: #0C8C9F;
}

.abutton:focus {
    outline: none;
}

.radio {
    /* display: inline-block; */
    /* position: relative; */
    padding-right: 20px;
    /* font-size: 15px; */
    /* margin-left: 25px; */
    /* margin-top: 15px; */
    color: black;
}

.radio input {
    /* width: 20px; */
    /* position: relative; */
    /* height: 20px; */
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    /* left: 100px; */
    /* top: -67px; */
}
@media(max-height:790px){
    .i1{
      margin-top: 1vh;
    }
  }