/* CODE COMMON FOR ALL PAGES STARTS HERE*************************/

body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #F9F9F9;
}

/*CSS for Sidenav*/

.sidenav {
  height: 100vh;
  width: 15vw;
  top: 0;
  bottom: 0;
  z-index: 1;
  position: fixed;
  background-color: white;
  overflow-x: hidden;
  padding-top: 4vh;
}

.sidenav a {
  padding: 2vh 2vw 2vh 2vw;
  text-decoration: none;
  font-size: 16px;
  color: #5F5F5F;
  display: block;
  font-family: 'Karla', sans-serif;
  border-left: 5px solid transparent;
}

.sidenav a:hover {
  color: #BDC3C7;
  border-left-color: #00D6CA;
}

.pms {
  color: red;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 10vh;
  font-size: 19px;
  font-family: 'Montserrat', sans-serif;
}

.w3-bar-block {
  margin-left: 2vw;
}

/*CSS for sidenav ENDS*/

/*Coloured Region*/

.top {
  padding: 2vh 0vw 0vh 2vw;
}

.main {
  margin-left: 15vw;
  height: 50vh;
  background-image: linear-gradient( to bottom right, #0C8C9F 30%, #00D6CA 100%);
}

/*Coloured Region Ends*/

/*Footer Starts*/

.copyright {
  margin-top: 16vh;
  margin-left: 1.5vw;
  font-size: 1.0rem;
  color: #5F5F5F;
}

.t5 {
  position: fixed;
  margin-left: 61.5vw;
  font-size: 16px;
  display: inline;
  color: #5F5F5F;
}

/*Footer ENDS*/

/*CSS for Sale Starts*/

.middle {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8vh;
}

.end {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

/*COMMON CODE ENDS HERE******************************************/

.dash {
  display: inline-block;
  padding-left: 1vw;
  padding-top: 1vh;
  color: white;
  font-size: 16px;
  font-family: 'Rubik', sans-serif;
}

.lbtn {
  background: none;
  padding: 1vh 1vw 1vh 1vw;
  font-size: 2.7vh;
  border: none;
  cursor: pointer;
  color: white;
}

.lbtn:focus{
  outline: none;
}

.lbtn:hover{
  color: black;
}

.logout {
  position: fixed;
  display: inline-block;
  padding-left: 66.25vw;
}

.sale1 {
  height: 8vh;
  width: 25vw;
  background-color: white;
  border-radius: 7.5px;
}

.sale2 {
  height: 8vh;
  width: 25vw;
  background-color: white;
  border-radius: 7.5px;
}

.sale3 {
  height: 8vh;
  width: 25vw;
  background-color: white;
  border-radius: 7.5px;
}

.tsale {
  height: 8vh;
  width: 80vw;
  background-color: white;
  border-radius: 7.5px;
}

.t1 {
  font-size: 1.6vh;
  padding: 1vh 0vw 0vh 1vw;
}

.t2 {
  font-size: 1.6vh;
  padding: 1vh 0vw 0vh 1vw;
}

.t3 {
  font-size: 1.6vh;
  padding: 1vh 0vw 0vh 1vw;
}

.t4 {
  font-size: 1.6vh;
  padding: 1vh 0vw 0vh 1vw;
}

.rs1 {
  padding: 0vh 0vw 0vh 1vw;
  font-size: 2.5vh;
}

.rs2 {
  padding: 0vh 0vw 0vh 1vw;
  font-size: 2.5vh;
}

.rs3 {
  padding: 0vh 0vw 0vh 1vw;
  font-size: 2.5vh;
}

.rs4 {
  padding: 0vh 0vw 0vh 1vw;
  font-size: 2.5vh;
}

@media(max-width: 802px) {
  .t1 {
    font-size: 1.3vh;
  }
  .t2 {
    font-size: 1.3vh;
  }
  .t3 {
    font-size: 1.3vh;
  }
}

@media(max-width: 458px) {
  .t3 {
    font-size: 1.1vh;
  }
  .rs3 {
    font-size: 2vh;
  }
}

@media(max-width: 1382px) {
  .fa-shopping-bag {
    padding-left: 2.5vw !important;
  }
  .fa-history {
    padding-left: 2.5vw !important;
  }
  .fa-calendar-check-o {
    padding-left: 2.5vw !important;
  }
  .fa-star {
    padding-left: 58vw !important;
  }
}

@media(max-width: 1300px) {
  .fa-shopping-bag {
    padding-left: 2vw !important;
  }
  .fa-history {
    padding-left: 2vw !important;
  }
  .fa-calendar-check-o {
    padding-left: 2vw !important;
  }
  .fa-star {
    padding-left: 57vw !important;
  }
}

@media(max-width: 1220px) {
  .fa-shopping-bag {
    padding-left: 1vw !important;
  }
  .fa-history {
    padding-left: 1vw !important;
  }
  .fa-calendar-check-o {
    padding-left: 1vw !important;
  }
  .fa-star {
    padding-left: 56vw !important;
  }
}

.data{
  margin-left: -0.1vh;
  border:none;
  background:none;
}

.data:focus{
  outline: none;
}

/*CSS for Sale Ends*/